body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.nav-parent {
  width: 100%;
  height: 70px;
  background-color: #c3a6e7;
  position: fixed;
  bottom: 0;
}

.nav-parent ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-parent ul li{
  flex-grow: 1;
  flex-basis: 0;
}

.nav-parent ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  text-decoration: none;
  color: black;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  gap: 5px;
}

.nav-parent ul li a.active {
  background-color: #9381ff;
  color: #ffffff;
  scale: 1.1;
  border-radius: 15% 15% 0 0;
  transform: translateY(-3px);
}

.nav-parent ul li a:hover {
  background-color: #9381ff;
  color: #ffffff;
  scale: 1.1;
  border-radius: 15% 15% 0 0;
  transform: translateY(-3px);
}

.nav-parent ul li a:focus {
  outline: none;
}

.nav-parent ul li p {
  margin: 0;
  padding: 0;
}

.nav-icon {
  font-size: 1.7em;
}

.header {
  top: 0;
  background-color: #9381ff;
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
}

.header-logo {
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

.header-logo img {
  width: 50px;
  height: 50px;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: auto;
  padding: 0;
  align-items: center;
  gap: 15px;
}

.header-list li {
  line-height: 0.75;
  text-align: center;
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-left: 5px;
  visibility: hidden;
}

.hamburger-menu input {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 2;
}

.hamburger-menu span {
  width: 35px;
  height: 4.5px;
  background-color: black;
  transition: all 0.5s;
}

.hamburger-menu span:nth-child(2) {
  transform-origin: 0 0;
}
.hamburger-menu span:nth-child(4) {
  transform-origin: 0 100%;
}

.hamburger-menu input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(4px, -5px);
}
.hamburger-menu input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
.hamburger-menu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(3px, 6px);
}

.account {
  display: flex;
  margin-left: auto;
  align-items: center;
  height: 50px;
}

.account a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  outline: none;
  margin-right: 8px;
  margin-left: auto;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.1em;
  padding: 5px 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

.account a:hover {
  background-color: #e9d7f4;
  color: #000000;
}

.sign-in {
}

.sign-up {
  
}

.main-home {
  background-color: #d7f4f2;
  width: 100vw;
  height: 120vh;
}

.main-home h3 {
  margin: 0;
  padding: 0;
}

.grand-article {
  background-color: #d7f4f2;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.parent-article {
  background-color: #fafafa;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 60vw;
  padding-left: 15px;
  padding-right: 15px;
}

.page-profile {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.article-header {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.article-header div {
  margin: 0;
  padding: 0;
}
.article-header .article-author {
  height: 17px;
  line-height: 16px;
}

.article-id {
  margin-left: auto;
  font-weight: bold;
}

.article-body {
  text-align: justify;
  line-height: 1.6;
}

.page-directory a {
  color: magenta;
  text-decoration: none;
  font-weight: bold;
}

.article-body p {
  text-align: justify;
  font-size: 0.7em;
}

.article-body img {
  width: 100%;
  height: auto;
}

.article-title h1 {
  font-size: 2rem;
}

.article-tags {
  display: flex;
  width: 100%;
  height: auto;
  gap: 0;
}

.article-tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 10px;
}
.article-tags ul li {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.3em;
  background-color: aqua;
  padding: 10px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .hamburger-menu {
    visibility: visible;
  }
  
  .header-logo {
    position: static;
  }
  
  .header-list {
    position: absolute;
    display: flex;
    /* visibility: visible; */
    flex-direction: column;
    top: 30px;
    left: 0;
    right: 0;
    background-color: #9381ff;
    z-index: -5;
    opacity: 1;
    transition: all 1s ease;
    gap: 0;
  }
  
  .header-list li {
    height: 40px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transition: all 0.5s ease;
    color: #ffffff;
  }
  
  .header-list li br {
    display: none;
  }
  
  .header-list.terbuka {
    /* visibility: hidden; */
    top: -300px;
    opacity: 0;
  }
  
  .header-list li:hover {
    background-color: #d70bea;
    color: #000000;
  }
  
  .header-list.terbuka li br {
    display: none;
  }
  
  .account a {
    padding: 4px 7px;
  }
  .article-id {
    margin-left: 0;
  }
  
  .parent-article {
    background-color: #ffffff;
    width: 100vw;
  }
  
  .page-profile {
    display: flex;
    flex-direction: column;
  }
  
  .article-title h1 {
    
  }
  
  .article-body p {
    font-size: 1em;
  }
  
  .article-tags ul li {
  font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .hamburger-menu {
    
  }
}